apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
  annotations:
    kubernetes.io/ingress.class: "traefik"
spec:
  ingressClassName: traefik
  rules:
    - host: absp.nwo.pm
      http:
        paths:
          - backend:
              service:
                name: audiobookshelf
                port:
                  number: 13378
            path: /
            pathType: Prefix
